/* GENERALES*/

*{
    padding: 0px;
    margin: 0px;
    /* color: green; */
}

body{
    background: url(../img/bg.png);
}

a{
    color: #01B1EA;
}

a :visited{
    color: #01B1EA;
}

a:hover{
    color: #555555;
}

.alert_green{
    color:green;
}
.alert_red{
    color:red;
}

table{
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
td{
    border-top: 1px solid #ccc;
    padding: 2px;
}

img.thumb{
    width: 100px;
}

/* CONTAINER*/
#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    background: white;
}

/*CABECERA*/

#header{
    height: 145px;
    background: #f0f0f0;
}

#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img{
    float: left;
     height: 100px;
}

#logo a{
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: 'Open Sans', Arial, Helvetica;
    text-transform: uppercase;
    color: #01B1EA;
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222222;
    transition: all 300ms;
}

#logo a:hover{
    text-shadow: 0px 2px 1px #222222, 0px 0px 4px #01B1EA;
}

/* MENU */
#btn-menuu{
    display: none;
    background: #222;
}

.header_menu label{
    display: none;
}
.header_menu label:hover{
    cursor: pointer;
}
.menu{
    clear: both;
    background: #222;
    color:  white;
    height: auto;
    border-bottom: 4px solid #01B1EA;
}

.menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
    display: flex;
}
.menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid #363636;
}

.menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 10px;
    transition: 300ms;
}

.menu a:first-child{
    border-left: 1px solid #363636;
}
.menu a:hover{
    background: #01B1EA;
}

@media (max-width:768px){
    .header_menu label{
        display: block;
    }
    .menu{
        position: absolute;
        width: 70%;
        margin-left: -100%;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid #fff;
    }

    #btn-menuu:checked ~ .menu{
        margin: 0;
    }

    #central{
        width: 10%;
        float: left;
    }
}

/* CONTENT */

#content{
    flex-wrap: wrap;
    margin: 0px auto;
    overflow: hidden;
    background: white;
}

/*BARRA LATERAL */

.lateral{
    width: 20%;
    float: left;
    min-height: 500px;
    margin-top: 20px;
    margin-left: 15px;
}
@media (max-width:799px){
    .lateral{
        width: 90%;
    }
}

.lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
}
.lateral h3{
    display: block;
    color: #222;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #e1e1e1;
    border-radius: 10px;
    border-bottom: 2px solid #01B1EA;
}

.lateral ul{
    margin-top: 20px;
    margin-bottom: 20px;
}
.lateral ul li{
    list-style: initial;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;   
}

/*FORMS*/
.form_container{
    width: 50%;
    
}
label,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,textarea{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,textarea{
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #ccc inset;
    background:  white;
    padding:  2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
    border: 1px solid #1579b5;
    color: black;
}

input[type="button"],
input[type="submit"],
button, .button{
    display: block;
    border-radius: 2px;
    width: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background: #2979cd;
    border: 1px solid #11609e;
    cursor: pointer;
}

.button{
    background: #33ae3d;
    color: white !important;
    text-decoration: none;
}

.button-small{
    width: 120px;
    text-align: center;
    margin-bottom: 20px;
}

.button-gestion{
    margin-top: 5px;
    margin-bottom: 5px;
}
.button-red{
    background: red;
    border: 1px solid #cf1717;
}

label,
input[type="button"],
input[type="submit"],

select{
    display: block;
    margin-top: 10px;
}

/*PARTE CENTRAL*/
.central{
    width: 75%;
    min-height: 500px;
    float: right;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;
    padding: 8px;
}
.central h1{
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
}


@media (max-width:799px){
    .central{
        width: 102%;
    }
}

/* PRODUCTOS */
.product{
    width: 30%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    text-align: center;
}
@media (max-width:409px){
    .product{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
.product a{
color: black;
text-decoration: none;
}
.product a :hover{
    color: #555;
}

.product img{
    height: 170px;
    margin-bottom: 10px;
}

.img_carrito{
    height: 80px;
    display: block;
    margin: 10px auto;
}

.product h2{
    font-size: 18px;
    margin-bottom: 10px;
}
.product p{
    font-weight: bold;
    color:  #555;
    margin-bottom: 10px;
}

#detalle-producto {
    width: 100%;
}
#detalle-producto .imagen {
    display: block;
    width: 47%;
    float: left;
    
    
}
#detalle-producto img {
    display: block;
    width: 100%;
    float: left;
    
}
#detalle-producto .data {
    width: 50%;
    float: right;
}
#detalle-producto .descripcion {
    margin-bottom: 30px;
}
#detalle-producto .precio{
    margin-top: 10px;
    font-size: 20px;
    color: #444;
}
#detalle-producto .button{
    width: 200px;
    text-align: center;
}
/*PIE DE PAGINA*/

#footer{
    clear: both;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background: #222222;
    border-top: 4px solid #01B1EA;
}

/*CARRITO*/
.total-carrito{
    width: 295px;
    float: right;
}
.button-carrito{
    width: 70px;
    margin:0px auto;
    text-align: center;
}
.delete-carrito{
    width: 295px;
    float: left;
}
.total-carrito h3{
    display: block;
    float: left;
    margin-top: 5px;
}
.button-pedido{
    display: block;
    float: right;
    width: 100px;
}

.button-delete{
    display: block;
    float: left;
    width: 100px;
}

.updown-unidades{
    width: 80px;
    margin: 0px auto;
}

.updown-unidades .button{
    display: block;
    width: 20px;
    float: left;
    padding: 2px;
    margin: 7px;

}